﻿<!DOCTYPE html>
<html>
<!-- Mirrored from www.smarttemplates.net/lateral/Demo02/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Feb 2019 06:32:11 GMT -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />
<meta name="author" content="Muhammad Waseem Younas" />
<meta name="description" content="Website for professional services" />
<meta name="keywords" content="Web Development, Web designing, Database Management" />
<title>Muhammad Waseem Younas</title>
<link rel="stylesheet" href="~/Content/css/swiper.css">
<link rel="stylesheet" href="~/Content/style.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet"> 
</head>
<body>

        @RenderBody()
      
	<footer class="footer" id="footer">
			<div class="footer__content footer__content--fluid-width footer__content--svg">
			
				<div class="grid grid--5col">
				
					<div class="grid__item grid__item--x2">
						<h3 class="grid__title grid__title--footer-logo">Portfolio</h3>
						<p class="grid__text grid__text--copyright">Copyright &copy; 2019.  <br />All Rights Reserved. Proudly made by Muhammad Waseem Younas. </p>
						<ul class="grid__list grid__list--sicons">
								<li><a href="#"><img src="~/Content/images/social/black/twitter.png" alt="" title=""/></a></li>
								<li><a href="#"><img src="~/Content/images/social/black/facebook.png" alt="" title=""/></a></li>
								<li><a href="#"><img src="~/Content/images/social/black/linkedin.png" alt="" title=""/></a></li>
						</ul>
					</div>
					<div class="grid__item">
						@*<h3 class="grid__title grid__title--footer">Profile</h3>
						<ul class="grid__list grid__list--fmenu">
								<li><a href="#">About</a></li>
								<li><a href="#">Carrers</a></li>
								<li><a href="#">Awards</a></li>
								<li><a href="#">Users Program</a></li>
								<li><a href="#">Locations</a></li>
						</ul>*@
					</div>
					<div class="grid__item">
						@*<h3 class="grid__title grid__title--footer">Products</h3>
						<ul class="grid__list grid__list--fmenu">
	
								<li><a href="#">Integrations</a></li>
								<li><a href="#">API</a></li>
								<li><a href="#">Pricing</a></li>
								<li><a href="#">Documentation</a></li>
								<li><a href="#">Release Notes</a></li>
						</ul>*@
					</div>
					<div class="grid__item">
						@*<h3 class="grid__title grid__title--footer">Support</h3>
						<ul class="grid__list grid__list--fmenu">
								<li><a href="#">Contact</a></li>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Press</a></li>
								
						</ul>*@
					</div>
					
				</div>
				
				
			</div>


	</footer>
	

	  <section class="modal modal--signuplogin">
		<div class="modal__overlay modal__overlay--toggle"></div>
		<div class="modal__wrapper modal-transition">
		  
		<div class="modal__body">
		        
			<div class="modal__content modal__content--login">
				<div class="modal__info">
					<h2 class="modal__title">First time here?</h2>
					<div class="modal__descr">Join now and get <span>20% OFF</span> for all products</div>
					<ul class="modal__list">
					<li>premium access to all products</li>
					<li>free testing tools</li>
					<li>unlimited user accounts</li>
					</ul>
					<button class="modal__switch modal__switch--signup" data-popup="signup">Signup</button>
				</div>
				<div class="modal__form form">
					<h2 class="form__title">Login</h2>
						<form class="form__container" id="LoginForm" method="post" action="http://www.smarttemplates.net/lateral/Demo02/index.html">
						
						<div class="form__row">
								<label class="form__label" for="namec">Name</label>
							<input name="namec" id="namec" class="form__input" type="text"/>
							<span class="form__row-border"></span>
						</div>
						<div class="form__row">
								<label class="form__label">Email</label>
							<input name="emailc" class="form__input" type="text"/>	
							<span class="form__row-border"></span>									
						</div>
						
						<div class="modal__checkbox"><input id="remember" name="remember" value="remember" checked type="checkbox"><label for="remember">Keep me Signed in</label></div>
						<div class="modal__switch modal__switch--forgot" data-popup="forgot">Forgot Password?</div>
						<input type="submit" name="submit" class="form__submit btn btn--green-bg" id="submitl" value="LOGIN" />
						</form>
				</div>
			</div>  <!-- End Modal login -->
			
			<div class="modal__content modal__content--forgot">
				<div class="modal__form form">
					<h2 class="form__title">Forgot Password</h2>
						<form class="form__container" id="ForgotForm" method="post" action="http://www.smarttemplates.net/lateral/Demo02/index.html">
						<div class="form__row">
							<label class="form__label">Email</label>
							<input name="emailf" class="form__input" type="text"/>	
							<span class="form__row-border"></span>									
						</div>
						<input type="submit" name="submit" class="form__submit btn btn--green-bg" id="submitf" value="RESET PASSWORD" />
						</form>
				</div>
				<div class="modal__info">
					<h2 class="modal__title">We got you covered</h2>
					<div class="modal__descr">A new password will be sent by email. Remembered your password?</div>
					<button class="modal__switch modal__switch--signup" data-popup="login">Login</button>
				</div>
			</div>  <!-- End Modal login -->
			
			
			<div class="modal__content modal__content--signup">
				<div class="modal__form form">
					<h2 class="form__title">Signup</h2>
						<form class="form__container" id="SignupForm" method="post" action="http://www.smarttemplates.net/lateral/Demo02/index.html">
						<div class="form__row">
							<label class="form__label" for="names">Username</label>
							<input name="namec" id="names" class="form__input" type="text"/>
							<span class="form__row-border"></span>
						</div>
						<div class="form__row">
							<label class="form__label">Email</label>
							<input name="emails" class="form__input" type="text"/>	
							<span class="form__row-border"></span>									
						</div>
						<div class="form__row">
							<label class="form__label" for="pass">Password</label>
							<input name="pass" id="pass" class="form__input" type="password"/>
							<span class="form__row-border"></span>
						</div>
						<input type="submit" name="submit" class="form__submit btn btn--green-bg" id="submit" value="SIGNUP" />
						</form>
				</div>
				<div class="modal__info">
					<h2 class="modal__title">Allready have an account?</h2>
					<div class="modal__descr">Login now and starting using our <span>amazing</span> products</div>
					<ul class="modal__list">
					<li>premium access to all products</li>
					<li>free testing tools</li>
					<li>unlimited user accounts</li>
					</ul>
					<button class="modal__switch modal__switch--login" data-popup="login">Login</button>
				</div>
			</div>  <!-- End Modal signup -->
			
		</div>
		  
		</div>
	  </section>    <!-- Modal for Login and Signup -->
	  
	   <section class="modal modal--animation">
		<div class="modal__overlay modal__overlay--toggle"></div>
			<div class="modal__wrapper modal__wrapper--image modal-transition">
				<div class="modal__body">
					<button class="modal__close modal__overlay--toggle"><span></span></button>
					<div class="modal__header">How it works animation</div>
					
					<div class="modal__image">
						<img src="~/Content/images/intro-animation.gif" alt="" title=""/>
					</div>
				</div>
			</div>
	  </section>    <!-- Modal for animation -->
<script src="~/Content/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/js/jquery.paroller.min.js"></script>
<script src="~/Content/js/jquery.custom.js"></script>
<script src="~/Content/js/swiper.min.js"></script>
<script src="~/Content/js/swiper.custom.js"></script>
<script src="~/Content/js/menu.js"></script>
</body>

<!-- Mirrored from www.smarttemplates.net/lateral/Demo02/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Feb 2019 06:32:38 GMT -->
</html>
       
